body {
  background-color: #4D4646;
  color:white;
}

h1 {
  font-size: 400%;
  margin-top: 0%;
}


.button {
  font-size: 20px;
  width: 15%;
  padding: 2%;
  box-sizing: border-box;
  position: absolute;
  border-radius: 8px;
}

#startpagebutton {
  background-color: white;
  color:black;
  font-weight:bold;
  top: 2%;
  right:2%;
}
#startpagebutton:hover {
  border: 1px solid black;
  cursor: pointer;
}

#orderDivs {
  height: 80%;
  width: 80%;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}
.order {
  color: black;
  padding: 3%;
  width: 25%;
  background-color: yellow;
}
.order ul,li {
  margin: 0;
  padding: 0;
}
.orderClaimed {
  color: black;
  padding: 3%;
  width: 25%;
  background-color: red;
}
.orderClaimed ul,li {
  margin: 0;
  padding: 0;
}
#orderRemoveButton {
  width: 100%;
  padding: 5% 0 5% 0;
  margin: 2% 0 0 0;
  border-radius: 5px;
}
#orderRemoveButton:hover {
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
}
