#infoUpperLeft,#infoUpperRight,#infoLowerLeft,#infoLowerRight {
  width: 50%;
  display: flex;
  flex-wrap: wrap;


}
.managerInfo {
    width: 100%;
    
}

.infoHeader {
    font-weight: 900;
    display: block;
    
}

#infoContainer {
    display: flex;
    flex-wrap: wrap;
   
}