body {
    background: #4d4646;
    color: white;
    font-family: sans-serif;
    
}

#infoUpperLeft,#infoUpperRight,#infoLowerLeft,#infoLowerRight {
  width: 46%;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  

}

.managerInfo, .infoHeader{
    width: 150%;
    font-weight: 900;
    font-size: 150%;
}

.infoHeader {
     font-size: 200%;
}



#infoContainer {
    display: flex;
    flex-wrap: wrap;
}

#infoLowerLeft a, #infoLowerRight a {
  width: 50%;
  text-decoration: none;
}
#infoLowerLeft input {
  background-color: #800000;
  color: white;
}

#infoLowerRight input {
  background-color: white;
  color: black;
}

#infoLowerLeft input, #infoLowerRight input {
  font-size: 300%;
  width:98%;
  padding: 2%;
  border-radius: 10px;
}

#infoNotes {
  
    height: 100%;
    width: 100%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
