body {
    background: #4d4646;
    color: white;
    font-family: sans-serif;
}

h1 {
  padding: 2% 0 0 2%;
}

#infoUpperLeft,#infoUpperRight,#infoLowerLeft,#infoLowerRight {
  width: 46%;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.managerInfo{
  width: 100%;
  font-weight: 900;
  font-size: 150%;
}

.infoHeader {
  width: 100%;
  font-size: 200%;
  font-weight: 900;
}



#infoContainer {
    display: flex;
    flex-wrap: wrap;
}

#infoLowerLeft a, #infoLowerRight a {
  width: 50%;
  text-decoration: none;
}
#infoLowerLeft input {
  background-color: #800000;
  color: white;
}

#infoLowerRight input {
  background-color: white;
  color: black;
}

#infoLowerLeft input, #infoLowerRight input {
  font-size: 300%;
  width:98%;
  padding: 2%;
  border-radius: 10px;
}

#infoNotes {
  width: 100%;
  height: 200px;
  resize: none;
  overflow:auto;
}
